@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #FCFEF3;
}
.header{
    margin: 0 auto;
    max-width: 1100px;
    width:100%;
    position:relative;
}
.navigation-grid{
    margin: 0 auto;
    max-width: 1050px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(7, 150px);
    height: 60px;
    
}
.navigation-grid > * {
    font-family: roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 141%;
    color: #989890;
    align-items: center;
    display: flex;
    justify-content: center;
    outline:2px solid #deded6;
}
.logo p{
    font-family:sigmar one;
    font-weight: 400;
    font-size: 12px;
    line-height: 108%;
    color: #696061;
}
.list{
    display:flex;
    flex-direction: row;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color:#FFBEE8;
}
.burger-menu{ 
    max-width: 600px;
    width:100%;
    display: grid;
    grid-template-columns: repeat(3 ,180px);
    height:60px;
    visibility: hidden;
    position: absolute;
    top:0px;
    left:50%;
}
.burger-menu > * {
    outline:2px solid #deded6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu p{
    font-family: roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 141%;
    color: #989890;
}
.logo h5{
    font-family:sigmar one;
    font-weight: 400;
    font-size: 12px;
    line-height: 108%;
    color: #696061;
}

@media (max-width:600px){
    .navigation-grid{
        visibility: hidden;
    }
    .burger-menu{
        visibility: visible;
    }
}