@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    background-color: #FCFEF3;
}
.header{
    margin: 0 auto;
    max-width: 1100px;
    width:100%;
}
.navigation-grid{
    margin: 0 auto;
    max-width: 1050px;
    width:100%;
    display:grid;
    grid-template-columns: repeat(7, 150px);
    height: 60px;
    
}
.navigation-grid > * {
    outline:2px solid #deded6;
}
.logo{
    display:flex;

}